.login_wrapper{
    /* background-color: blue; */
    width: 100vw;
    height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center; 
}
.login_form{
    /* background-color: green; */
    width: 80%;
    height: 50%;
}
.login_form_wrapper{
    /* background-color: yellow; */
    width: 20%;
    height: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password]{
    width: 100%;
    height: 10%;
    margin: 8px 0px;
}

.submit_buttons {
    /* background-color: pink; */
    width: 102.75%;
    display: flex;
    justify-content: space-between;

}

#login, #register {
    width: 100px;
    height: 25px;
}

label {
    font-size: 1.5rem;
}

input[value="Login"], input[value="Register"]{
    font-size: 1rem;
}










